.topicinfo-replies {
	//prettier-ignore
	font-size: 14PX;
	.topicinfo-reply {
		display: flex;
		width: 100%;
		.topicinfo-reply-image {
			//prettier-ignore
			width: 30PX;
			//prettier-ignore
			height: 30PX;
			border-radius: 50%;
		}
		.topicinfo-reply-right {
			display: flex;
			.topicinfo-reply-body {
				display: flex;
				flex-direction: column;
			}
			.topicinfo-reply-zan {
				display: flex;
			}
		}
	}
}
